<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

	<div th:fragment="nav">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="courses">Courses</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="users">Users</a></li>

		</ul>
	</div>

	<div th:fragment="menu">
		<a href="#home" class="active">Home</a> <a href="#blog">Blog</a> <a
			href="#contact">Contact</a> <a href="#about">About</a>
	</div>

	<footer th:fragment="footer">
		<p>2019 FrontBackend.com</p>
	</footer>

</body>
</html>